body{
    font-family:monospace;

}
.header-top{
    text-align: center;
    font-family: monospace;
    margin-top: 1% ;
}   
.header-top h6{
    float: none;
    color: red;
}
.header{
    width: 60%;
    margin: auto;
    height: 50px;

}
.brand-name{
    width: 40%;
    float: left;
}
.navbar-div{
    width: 60%;
    float: left;
    display: grid;
}
.navbar-div a {
    color: gray;
    text-decoration: none;
    background-color: transparent;
}
.main-block{
    margin-top: 20px;
}

.navbar-div a:hover{
    color: black;
}
.navbar{
    font-family: monospace;
    font-size: 1.3rem;

}
.navbar-nav  li{
    padding-left:20px;
  }

.banner{
    height: 400px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    background-image: url("../Images/wallpaper.jpg");
    /* background-color: burlywood; */
    text-align: center;
    padding: 200px;
    font-family:monospace;
    color: aliceblue;
    

}
.signin-tab{
    width: 80%;
    margin: auto;
    padding-top:40px ;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family:monospace;
    color: black;

}
#container{
    width: 80%;
    margin: auto;

}
/* content style for js file */
.row{
    width: 100%;
    margin-bottom: 70px;
    padding-left: 15px;
}
.blog-image{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    height: 200px;
    background-image: url(../Images/blog-image.jpg);
}
.blog-image:hover{
    opacity: 0.8;
}
.div-for-title{
    margin-bottom: 5%;
}
.div-for-title h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:monospace;
    font-size: x-large;
}
.div-for-title h5{
    font-family:monospace;
    color: gray;
}

.row a{
    color: black;

}
.row a:hover{
    color: black;
    text-decoration: none;

}
.authorImg{
    content: url(../Images/blog-image.jpg);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.div-for-insights{
    margin: auto;

}
.div-for-avatar{
    float: left;
    text-align: center;
}
.div-for-avatar:hover{
    opacity: 0.8;
}
.div-for-auth-det{
    float: left;
    padding: 2%;
    margin: auto;
    padding-left: 20px;
}
.div-for-auth-det h5,h6{
    font-family:monospace;
    color: gray;
    float: left;
}

.div-for-date-read{
    margin: auto;
    align-content: center;
}

.dot {
    float: left;
    height: 5px;
    width: 5px;
    margin: 5%;
    background-color: gray;
    border-radius: 50%;
    display: block;
    
  }
  .fas{
      float: left;
      color: gray;
  }